*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to left, #71C5EE, #025091);
}

.container{
    background: rgba( 213, 190, 190, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    width: 70%;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto
}

.portfolio{
    width: 95%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.presentation{
    background: rgba( 255, 255, 255, 0.01 );
    display: flex;
    margin: 10px 0;
    justify-content: center;
    width: 30%;
    transition: all .3s ease;
}

.presentation:hover{
    cursor: pointer;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.presentation .person-info{
    width: 20vw;
    min-width: 300px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    padding: 20px 10px;
    flex-flow: column wrap;
    align-items: center;
}

.presentation .person-info .avatar{
    width: 60%;
    margin: 20px 0;
    border-radius: 50%;
}

.presentation .person-info .name{
    color: white;
}

.presentation .person-info .titles{
    color: rgb(65, 65, 65)
}

.presentation .data {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.history{
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
    width: 65%;
}